body{
    background-color: rgb(209, 204, 204);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav{
    background-color: white;
}
ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    padding: 15px;
}
li:hover{
    background-color: black;
    color: white;
    justify-content: left;
}

h1{ 
    background-color: rgb(212, 224, 169);
    text-align: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

p{
    text-align: start;
}
.img-container {
    text-align: center;
    display: block;
}

